<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registros por Data</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Registros</h1>
        <ul>
		{% for data in datas %}
                 <li><a href="{{ url_for('registro_por_data', data=data) }}">{{ data }}</a></li>
             {% endfor %}
		</ul>

        <br>
        <a href="/">Voltar</a> |
        <a href="/graficos">Ver Gráficos</a>
    </div>
</body>
</html>
